.listbtn{
   margin: 5px;
   width: 6vw;
}
.skills{
    display: block;
    height: auto;
    width: 15vw;
    margin: 5px;
 
}
.listheader{
    display: flex;
    flex-direction: row;
    border: solid lightgray 1px;
    justify-content: center;
    align-items: center;
    margin: 5px;
    
}
